<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>5.19</title>

</head>
<body>
    <div id="app">
        <div v-if="role == 'admin'">
            管理员您好
        </div>
        <div v-if="role == 'person1' || role == 'person2'">
            业务员您好
        </div>
        <div v-else>
            权限不足
        </div>
    </div>

    <script src="../lib/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>